.header {
    grid-area: header;
    background: #1a1a1a;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding: 0 1rem;
}

.title {
    font-weight: 700;
}

.spread {
    text-align: center;
    color: #888888;
}